.home {
}

.btn-circular {
	width: 200px;
	height: 200px;
	background-color: #7777ee;
	/*background-size: cover;*/
	/*display: block;*/
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.btn-circular > h4 {
	/*display: flex;
	flex-direction: column;*/
}