<template name="MasterLayout">
	
	<div class="container">

		<div class="row">
			

			<!-- Default Login -->
			
		</div>
		<!-- This is the bread crumb -->
		<div class="row">
			<ul class="breadcrumb">
				<li>
					<a href="/">Home</a>
					<span class="divider">|</span>
				</li>
				<li>
					{{#linkTo route="profile"}}Context
					{{/linkTo}}
					<span class="divider">|</span>
				</li>
				<li>
					{{#linkTo route="matches"}}Black Box
					{{/linkTo}}
					<span class="profile_list">|</span>
				</li>
				<li>
					{{#linkTo route="profileList"}}Contact
					{{/linkTo}}	
					<span class="profile_list">|</span>

				</li>
				<li>
					{{> loginButtons}}
				</li>				
			</ul>

			<h3>You are on {{> yield "breadcrumbs"}}</h3>
			
		</div>

		<div class="row">
			{{> yield}}
		</div>
	</div>
</template>
